* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* CARDS */
.card-body {
  display: inline-block;
  align-items: center; }

.card-img-top {
  width: 12rem;
  height: 12rem; }

.bg-blu {
  background-color: #093a5b; }

.btn-primary {
  background-color: #093a5b;
  border-color: #1b4561;
  transition: all 0.2s ease-out; }

.btn-primary:hover {
  background-color: #4d7d9f;
  border-color: #4d7d9f;
  transform: scale(0.8); }

.center {
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center; }

.formu {
  margin-left: 35%;
  margin-top: 3rem; }

/* FOOTER */
footer {
  width: 100%;
  background-image: linear-gradient(to top, #093a5b, white);
  height: 100px;
  margin-top: 0px;
  display: flex;
  justify-content: center; }

.anchoFooter {
  margin-top: 30px; }

.redes {
  display: inline-block; }

.bi-facebook {
  font-size: 30px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: white; }

.bi-instagram {
  font-size: 30px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: white; }

.texto-centrado {
  font-size: 16px;
  font-weight: 600;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 40px; }

nav.nav-azul {
  background-color: #2C79A7; }
  nav.nav-azul div div ul li a {
    color: white; }

main p.texto-centrado {
  font-size: 16px;
  font-weight: 600;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 40px; }
