* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* CARDS */
/* clase para extend */
.centro-blanco, main div div div a.btn, main div div div a.btn:hover {
  align-items: center;
  color: white; }

main h1 {
  text-align: center; }

main div div {
  display: inline-block;
  align-items: center; }
  main div div h5 {
    text-align: center; }
  main div div h2 {
    font-size: 22px;
    font-weight: bold;
    text-align: center; }
  main div div p {
    text-align: center; }
    main div div p img {
      width: 12rem;
      height: 12rem;
      margin-top: 10px; }
  main div div div {
    display: inline-block;
    align-items: center; }
    main div div div a.btn {
      background-color: #2C7AAE;
      border-color: #2C7AAE;
      transition: all 0.2s ease-out; }
    main div div div a.btn:hover {
      background-color: #4d7d9f;
      border-color: #4d7d9f;
      transform: scale(0.8); }

/* FOOTER */
/* clase para extend */
.redes, footer div div a i.bi-facebook, footer div div a i.bi-instagram {
  font-size: 30px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: white; }

footer {
  width: 100%;
  background-image: linear-gradient(to top, #093a5b, #2C7AAE);
  height: 100px;
  margin-top: 0px;
  display: flex;
  justify-content: center; }
  footer div {
    margin-top: 15px; }
    footer div div {
      display: inline-block; }

nav.nav-azul {
  background-color: #2C79A7; }
  nav.nav-azul div div ul li a {
    color: white; }

main p.texto-centrado {
  font-size: 18px;
  font-weight: 400;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 40px;
  color: #000;
  text-align: justify; }

main p {
  text-align: center; }
  main p img {
    height: 350px;
    width: 500px;
    border-radius: 20px;
    margin-bottom: 3%; }
  @media (max-width: 500px) {
    main p img {
      width: 100%; } }

form.formu {
  margin-left: 35%;
  margin-top: 3rem; }

div.contact {
  overflow-x: hidden; }
  div.contact article {
    padding: 10px; }
  div.contact p {
    text-align: center; }
    div.contact p img {
      height: 350px;
      width: 500px;
      border-radius: 20px; }
    @media (max-width: 500px) {
      div.contact p img {
        width: 100%; } }
  div.contact article.izq {
    padding-left: 5%;
    padding-right: 5%; }
