nav.nav-azul {
    background-color: #2C79A7;
    div {
       div {
            ul {
                li {
                    a {
                        color: white; 
                    }
                }
                }
       }
    }
}

main {
    p.texto-centrado {
        font-size: 16px;
        font-weight: 600;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 40px;
    }
}