nav.nav-azul {
    background-color: #2C79A7;
    div {
       div {
            ul {
                li {
                    a {
                        color: white; 
                    }
                }
                }
       }
    }
}

main {
    p.texto-centrado {
        font-size: 18px;
        font-weight: 400;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 40px;
        color:#000;
        text-align: justify;
                        }
    p {
        text-align: center;
        img {
            height: 350px;
            width: 500px;
            border-radius: 20px;  
            margin-bottom: 3%;  
            }   
        @media (max-width: 500px) {
                img {
                  width:100%
                }
              }            
      }
    }