
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}



/* CARDS */

/* clase para extend */

.centro-blanco {
    align-items: center;
    color:white;
}





main  {
    h1 {
    text-align: center;    
    }
    div {
        div {
            display: inline-block;
            align-items: center;
            h5 {
                text-align: center;
            }
            h2 {
                font-size: 22px;
                font-weight: bold;
                text-align: center;
            }
            p {
                text-align: center;
                img {
                    width: 12rem;
                    height: 12rem;
                    margin-top: 10px;
                }
            }
            div {
                display: inline-block;
                align-items: center;
                a.btn {
                    @extend .centro-blanco;
                    background-color: #2C7AAE;
                    border-color: #2C7AAE;
                    transition: all 0.2s ease-out;
                    
                }
                a.btn:hover {
                    @extend .centro-blanco;
                    background-color: #4d7d9f;
                    border-color: #4d7d9f;
                    transform: scale(0.8);
                }
            }
        }
        
    }
}


                                        /* FOOTER */

/* clase para extend */

.redes {
    font-size: 30px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
}                                        

 footer {
    width: 100%;
    background-image: linear-gradient(to top, #093a5b, #2C7AAE);
    height: 100px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
        div {
            margin-top: 15px;
            div {
                display: inline-block;
                 a {
                    i.bi-facebook {
                        @extend .redes;
                    }
                    i.bi-instagram {
                        @extend .redes;
                    }
                 }
                }
            }
 }                                       



 
  @import "Nosotros.scss";
  @import "Servicios.scss";
  @import "Contacto.scss";
  @import "variables.scss";
  @import "Clientes.scss";
