@import "mixins.scss";


* {
    @include reset;
}

@media (max-width: 1400px) {
    @include background-query(#fff,otro)    
}
@media (max-width: 1200px) {
    @include background-query(blue,computadora)    
}       
@media (max-width: 768px) {
    @include background-query(green,tableta)
}   
@media (max-width: 576px) {
    @include background-query(red,telefono)
}   


/* CARDS */

/* clase para extend */

.centro-blanco {
    align-items: center;
    color:white;
}


/* Mapa */

$mapa: ( 
    tono1: #F5F5F5,
    tono2: #E4E4E4,
    tono3: #BFBFBF,
    tono4: #A7A7A7,
    tono5: #868686,
    tono6: #9C9C9C,
);
@each $fondo, $color in $mapa {
    .mapadegrises--#{$fondo} {
        color: $color;
    }
    
}



main  {
    h1 {
    text-align: center;    
    }
    div {
        div {
            display: inline-block;
            align-items: center;
            h5 {
                text-align: center;
            }
            p {
                text-align: center;
                img {
                    width: 12rem;
                    height: 12rem; 
                }
            }
            div {
                display: inline-block;
                align-items: center;
                a.btn {
                    @extend .centro-blanco;
                    background-color: #2C7AAE;
                    border-color: #2C7AAE;
                    transition: all 0.2s ease-out;
                    
                }
                a.btn:hover {
                    @extend .centro-blanco;
                    background-color: #4d7d9f;
                    border-color: #4d7d9f;
                    transform: scale(0.8);
                }
            }
        }
        
    }
}


                                        /* FOOTER */

/* clase para extend */

.redes {
    font-size: 30px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
}                                        

 footer {
    width: 100%;
    background-image: linear-gradient(to top, #093a5b, white);
    height: 100px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
        div {
            margin-top: 15px;
            div {
                display: inline-block;
                 a {
                    i.bi-facebook {
                        @extend .redes;
                    }
                    i.bi-instagram {
                        @extend .redes;
                    }
                 }
                }
            }
 }                                       



 
  @import "Nosotros.scss";
  @import "Servicios.scss";
  @import "Contacto.scss";
  @import "variables.scss";
  @import "Clientes.scss";
